.card-shelf {
  display: flex;
}

.card-container {
    /* outline: #eee 1px solid; */
    box-shadow: 1px 1px 4px 0 #bbb;
    /* padding: 2%; */
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
}

.card-container:hover {
  background: rgba(240, 100, 200, 0.05);
}

.card-description {
  flex: 1;
}

.card-title {
  padding: 5px;
  flex: 0.2;
}
